html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

/*  */

.entourer {
    border: 1px solid lightgray;
    margin: .75em 0;
    padding: .33em
}

.texte-justifier {
    text-align: justify;
}

